<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479753007035-55rd75h3qpkv0vrn6725sreo5kghqgu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479753007035-55rd75h3qpkv0vrn6725sreo5kghqgu2</string>
	<key>API_KEY</key>
	<string>AIzaSyDzVltimDOshb7btIC42bZ2_ORuXnC2s_o</string>
	<key>GCM_SENDER_ID</key>
	<string>479753007035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Syed-Raza.books</string>
	<key>PROJECT_ID</key>
	<string>books-e6764</string>
	<key>STORAGE_BUCKET</key>
	<string>books-e6764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479753007035:ios:45b7bde7435ede856e9e9e</string>
</dict>
</plist>